* *::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
#root {
  box-sizing: inherit;
}
::selection {
  color: aliceblue;
  background: #7232ae;
}
